.logpage{
  background-color: #091422;
}
.appbar{
 
  display: flex;
  color:#FFFFFF;
  justify-content: space-between;
  
}
.logpage *{margin: 0.2rem;
color: #FFFFFF;}
.downappbar{
text-align: center;
padding: 7.5rem;
}
.downappbar *{
  padding: 0.5rem;
}
.downappbar>svg{
  position: relative;
  top: 1rem;
  left: -3rem;
}
.downappbar>input{
  color: black;
}
.logged {
  margin: 0;
  background-color: #091422;
  color: #FFFFFF;
 
}
.appbarlogged{
  display: flex;
  background-color: #091422;
  background-image: linear-gradient(#091422, 100%, #091422, 84.8%, #091422, 0%);
  justify-content: space-between;
  
}
.appbarside1{
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  justify-content: space-between;
  width: 50%;
  /* background-color: aqua; */

}
.appbarside2>img{
  color: #FFFFFF;
  text-align: center;
  align-self:center;
}
.appbarside2>p{
  color: #FFFFFF;
}
.appbarside2>svg{
  align-self: center;
}
.appbarside2{
  display: flex;
  justify-content: space-around;
  width: 15%;
}
.account{
  background-color: #FFFFFF;
}
.arrowdown{
  color: #FFFFFF;
  text-align: center;
  align-self:center;
}
.imgbox{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2rem;
  /* background-image: url('./components/Assets/maxresdefault.jpg');
  opacity: 0.2; */
}
.imgbox2{
  margin-right: 10rem;
  background-image: linear-gradient(#091422, 100%, #091422, 0%);
  
}
.imgbox2>span>button{

  border-radius: 12px;
  margin-right: 0.5rem;
}
.imgarr{
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(#107282, 17%, #091422, 100%);
}
.imgarr>span{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}
.imgarr>span>img{

 
  padding: 1rem;
}
.imgarr>.svg1{
  position: relative;
  top: 8rem;
}
.imgarr>.svg2{
  position: relative;
  top: 8rem;
}
.footer{
  background-color: #101827;
  color: #4D4D4D;
  text-align: center;
  height: 3rem;
  padding: 1rem;
}
.content{
  margin-left: 8rem;
}
.imgbox2>.watch{
  background-image: linear-gradient(#03AAD3 , #14282A);
  color: #FFFFFF;
  height: 2rem;
  border: none;
  /* background-color: red; */
}
.love{
  position: relative;
  top: 1.5rem;
}